<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="LOKI" class="LokiGatlingAppender">
        <!-- Local Loki instance for testing -->
        <url>http://localhost:3100/loki/api/v1/push</url>
        <batchSize>1</batchSize>
        <batchTimeoutMs>1000</batchTimeoutMs>

        <label>
            <pattern>app=gatling-test,level=%level,logger=%logger</pattern>
        </label>

        <message>
            <pattern>%msg</pattern>
        </message>
    </appender>

    <logger name="io.gatling.http.engine.response" level="DEBUG"/>
    <logger name="io.gatling.http.action.ws.fsm.WsLogger" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>